<% if(laptops.length === 0){ %>
    <h4 style="text-align: center; margin: 40px">No items yet!</h4>
<% } %>

<ul>
    <% for (let i = 0; i < laptops.length; i++) {%>
        <%- include('./laptopCard', {i: i});%>
    <% } %>
</ul>
