<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/auxiliary/head');%>
</head>
<body>
<%- include('./partials/components/navbar');%>
<div id="app" class="container with-nav">
    <div class="card header">
        <%- include('./partials/components/title');%>
    </div>
    <h1>sample text </h1>
</div>

<%- include('./partials/auxiliary/jquery');%>
</body>
</html>
