<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head');%>
</head>
<body>
<%- include('./partials/navbar');%>
<div id="app" class="container with-nav">
    <div class="card header">
        <h3 style="padding:10px; margin: 0">
            <%=title%>
        </h3>

    </div>

</div>

<%- include('./partials/jquery');%>
</body>
</html>
