<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head');%>
</head>
<body>
<%- include('./partials/navbar');%>
<div id="app" class="container with-nav">
    <div class="card header" style="padding: 10px; ">
        <h1>
            <%=title%>
        </h1>

    </div>

</div>

<%- include('./partials/jquery');%>
</body>
</html>
