<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head');%>
</head>
<body>
    <%- include('./partials/navbar');%>
<div id="app" class="container">
    <h1>
        <%=title%>
    </h1>

    <!--TODO: notebook search form
    TODO: render notebooks filtered by the info from the form

    это мне надо
        1) брать инфу с формы
        2) передавать ее в скрипт
        3) рендерить то, что скрипт вернет
    -->

</div>
    <%- include('./partials/jquery');%>
</body>
</html>
