<form action="/" method="post">
    <div class="form-control">
        <input name="text" type="text" placeholder="Browse the catalogue...">
    </div>
    <button type="submit" class="btn primary">Search!</button>
</form>
